{% extends 'base.html' %}
{% load static %}

{% block content %}
<!-- BEGIN #content -->
<div id="content" class="app-content">
	{% for msg in messages %}
		<div class="alert alert-light alert-dismissible fade show" role="alert">
			<strong>{{msg}}</strong>
			<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
	  	</div>
				
	{% endfor %}
	<div class="d-flex align-items-center mb-3">
		
		<div>
			<ul class="breadcrumb">
				<li class="breadcrumb-item"><a href="#">{{head_page}}</a></li>
				<li class="breadcrumb-item active">{{page}}</li>
				
			</ul>
			
			<h1 class="page-header mb-0">{{page}}</h1>
			
		
		</div>
		
		<div class="ms-auto">
			<!-- modal-lg -->
			<button type="button" class="btn btn-outline-theme me-2" data-bs-toggle="modal" data-bs-target="#modalLg">
				<i class="fa fa-plus-circle fa-fw me-1"></i>Add {{page}}
			</button>

			<div class="modal fade" id="modalLg">
			<div class="modal-dialog modal-lg">
				<div class="modal-content">
					<!-- BEGIN #formControls -->
					<div id="formControls" class="mb-0">
						<h4 class="mb-3 mt-3">Add Data</h4>
						<div class="card">
							<div class="card-body pb-2">
								<form method="POST">
									{% csrf_token %}
									<div class="row">
										{% for form in add_data %}
											<div class="form-group mb-3 col-md-6">
												{{form.label}}
												{{form}}
											</div>
										{% endfor %}
									</div>
									<button type='submit' class="btn btn-outline-theme btn-lg">Submit</button>
								</form>
							</div>
							<div class="card-arrow">
								<div class="card-arrow-top-left"></div>
								<div class="card-arrow-top-right"></div>
								<div class="card-arrow-bottom-left"></div>
								<div class="card-arrow-bottom-right"></div>
							</div>
						</div>
					</div>
					<!-- END #formControls -->
				</div>
			</div>
			</div>
		</div>
	</div>
	
	<div class="card">

			<div class="tab-pane fade show active" id="allTab">
				<!-- BEGIN table -->
				<div id="datatable" class="mb-0">
					<div class="card">
						<div class="card-body">
						
							<table id="datatableDefault" class="table text-nowrap w-100">
								<thead>
									<tr>
										<th>#</th>
										<th>IP Address</th>
										<th>Name</th>
										<th>Device Type</th>
										<th>Vendor</th>
										<th>Input Date</th>
									</tr>
								</thead>
								<tbody>
									{% for device in all_device %}
									<tr>
										<td>{{forloop.counter}}</td>
										<td>{{device.ip_address}}</td>
										<td>{{device.name}}</td>
										<td>{{device.device_type}}</td>
										<td>{{device.device_vendor}}</td>
										<td>{{device.created}}</td>
									</tr>
									{% endfor %}
								</tbody>
							</table>
						</div>
						<div class="card-arrow">
							<div class="card-arrow-top-left"></div>
							<div class="card-arrow-top-right"></div>
							<div class="card-arrow-bottom-left"></div>
							<div class="card-arrow-bottom-right"></div>
						</div>
					</div>
				</div>
				
				<!-- END table -->
			</div>

		<div class="card-arrow">
			<div class="card-arrow-top-left"></div>
			<div class="card-arrow-top-right"></div>
			<div class="card-arrow-bottom-left"></div>
			<div class="card-arrow-bottom-right"></div>
		</div>
	</div>
</div>
<!-- END #content -->
{% endblock content %}
